{
  "printWidth": 80,
  "useTabs": false,
  "tabWidth": 2,

  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,

  "quoteProps": "consistent",
  "trailingComma": "all",

  "bracketSpacing": true,
  "bracketSameLine": false,

  "arrowParens": "avoid",
  "endOfLine": "crlf",

  "parser": "typescript",
  "plugins": ["prettier-plugin-tailwindcss"]
}
